<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About Me</h4>
                <p class="text-muted">I am on a mission to learn and improve my development skills so I can make software to help improve peoples lives
                  Whether that be an escape from the day to day through games, or software to help people improve and maintain physical health.
                  <br>
                  <hr style="color: white;">
                <p class="text-white">
                  Email: chrismsharpe123@gmail.com
                </p>
                </p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Links</h4>
                <ul class="list-unstyled">
                  <li><a href="" class="text-white"><strike>Email me</strike></a></li>
                  <li><a href="https://www.freecodecamp.org/cingsharped" class="text-white" target="_blank">FreeCodeCamp</a></li>
                  <li><a href="https://beastcomplex.itch.io/" class="text-white" target="_blank">itch.io</a></li>
                  <li><a href="https://www.linkedin.com/in/christopher-sharpe-4b653980/" class="text-white" target="_blank">LinkedIn</a></li>
                  <li><a href="#" class="text-white" target="_blank">Facebook</a></li>
                  <li><a href="https://www.instagram.com/beastcomplex/" class="text-white" target="_blank">Instagram</a></li>                    
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
              
              <strong>Contact Info & Social Media</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>