{% extends "base.html" %}
{% block title %}My Portfolio{% endblock %}

{% block body %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My Projects</h1>
      <p class="lead text-muted">
        My Projects vary, which would you like to see? <br>
        Web Apps or Games?<br>
        <em style="font-size: small;">buttons are purely cosmetic at the moment, follow my social for what I'm currently working on</em>
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Web Development</a>
        <a href="#" class="btn btn-secondary my-2">Game Development</a>
        <br>
        <hr>
      </p>
    </div>
  </div>
</section>

<section class="d-flex justify-content-around">
  <div class="row">
  <div class="col">
    <div class="card mx-auto my-3" style="width: 20rem;">
    <img class="card-img-top" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-0/p180x540/146862333_3286627034777026_2011663244518578460_o.png?_nc_cat=100&ccb=3&_nc_sid=2c4854&_nc_eui2=AeHjalfuiJJoqZ7cgY0aw0EQMtGCg89ronEy0YKDz2uicYScCYgyx1B7aGnPByFBPqo&_nc_ohc=AhDNtd8SdT4AX8kOL-e&_nc_ht=scontent-lhr8-1.xx&_nc_tp=30&oh=04434f59e64fde8611417a1a6aae0101&oe=605099FD" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">FreeCodeCamp | Responsive Web Design</h5>
      <div class="card-text">
        <p>These are the 5 projects required for the FreeCodeCamps Responsive Web Design Certification. They are made to fit specifications and pass the tests that are built into each site in the top left of the page.This appears as a burger menu when minimised. I decided to host these websites publically using heroku to get more experience using this and make it easy to put into this portfolio.</p>
        <p>
            <strong>Skills Used</strong>
        </p>
        <ul> 
          <li>HTML</li>
          <li>CSS</li>
          <li>Flask</li>
          <li>Python</li>
          <li>Heroku</li>
          <li>Git</li>
        </ul>
      </div>
      <a href="https://fcc-tribute.herokuapp.com/portfolio" class="btn btn-primary" target="_Blank">Check it out!</a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card mx-auto my-3" style="width: 20rem;">
    <img class="card-img-top" src="https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/144297374_1026990947809353_5068049277377334833_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=109&_nc_ohc=p5aid27SnawAX_Bf3H-&tp=1&oh=97d6bf0e5e26448253b8fe62a42c20bd&oe=6059A889" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Task Master</h5>
      <div class="card-text">
        <p>This is a simple task list web app and was the first web app I made that could take user input and change based on that input</p>
        <p>
            <strong>Skills Used</strong>
        </p>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Flask</li>
          <li>Python</li>
          <li>Heroku</li>
          <li>Git</li>
          <li>SQL Alchemy</li>
        </ul>
      </div>
      <a href="https://taskmaster-project.herokuapp.com/" class="btn btn-primary" target="_Blank">Check it out!</a>
    </div>
  </div>
  </div>
    <div class="col">
      <div class="card mx-auto my-3" style="width: 20rem;">
      <img class="card-img-top" src="https://img.itch.zone/aW1nLzUwMjEzODUucG5n/347x500/8fM1IG.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">OuterVerse | Unity HTML5 Mobile Game</h5>
        <div class="card-text">
          <p>This is ongoing hobbie project. Right now it is a endless running space shooter you can play right in the browser on your phone, or a portrait desktop screen. </p>
          <p>
            <strong>Skills Used</strong>
          </p>
          <ul>
            <li>Unity Game Engine</li>
            <li>C#</li>
            <li>OOP</li>
          </ul>
        </div>
        <a href="https://beastcomplex.itch.io/outerverse" class="btn btn-primary" target="_Blank">Check it out!</a>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mx-auto my-3" style="width: 20rem;">
      <img class="card-img-top" src="https://img.itch.zone/aW1nLzQ2ODQ2NDQuanBn/347x500/G46JhY.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Time Breaker</h5>
        <div class="card-text">
          <p>This is a short brick breaker game I created with a rather novel feature where you can control the peed of time in the game to speed up or slow down gameplay. This increases the difficulty but in turn multiplies your score, players can use this feature to try and get the highest score possible in 3 short levels.</p>
          <p>
            <strong>Skills Used</strong>
          </p>
          <ul>
            <li>Unity Game Engine</li>
            <li>C#</li>
            <li>OOP</li>
          </ul>
        </div>
        <a href="https://beastcomplex.itch.io/time-breaker" class="btn btn-primary" target="_Blank">Check it out!</a>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mx-auto my-3" style="width: 20rem;">
      <img class="card-img-top" src="https://img.itch.zone/aW1nLzMzMzExMTEucG5n/315x250%23c/%2B5E9f1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The underBeasts Challenge</h5>
        <div class="card-text">
          <p>This is an endless exercise challenge game. You choose a difficulty, which dictates the time between exercises. Players are presented with random exercises to perform until they choose to give up. This works in the browsers on both mobile and desktop. I ended up using the Unity Game Engine as it was an improptu project I made to help local gym members stay fit during the first UK COVID-19 lockdown</p>
          <p>
            <strong>Skills Used</strong>
          </p>
          <ul>
            <li>Unity</li>
            <li>C#</li>
            <li>OOP</li>
          </ul>
        </div>
        <a href="https://beastcomplex.itch.io/the-challenge" class="btn btn-primary" target="_Blank"> Do you dare? ;)</a>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mx-auto my-3" style="width: 20rem;">
      <img class="card-img-top" src="https://img.itch.zone/aW1nLzUwMjg4NzQucG5n/315x250%23c/FqfuPo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">S.A.M</h5>
        <div class="card-text">
          <p>S.A.M one of my first projects from when I started learning C# and Unity. He will simply try and guess the number your are thinking of</p>
          <p>
            <strong>Skills Used</strong>
          </p>
          <ul>
            <li>Unity</li>
            <li>C#</li>
            <li>OOP</li>
          </ul>
        </div>
        <a href="https://beastcomplex.itch.io/sam" class="btn btn-primary" target="_Blank">Check it out!</a>
      </div>
    </div>
    </div>
  </div>
</section>

{% endblock %}