{% extends "base.html" %}
{% block title %}My Portfolio{% endblock %}

{% block body %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My Projects</h1>
      <p class="lead text-muted">
        My Projects vary, which would you like to see? <br>
        Web Apps or Games?<br>
        <em style="font-size: small;">buttons are purely cosmetic at the moment, follow my social for what I'm currently working on</em>
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Web Development</a>
        <a href="#" class="btn btn-secondary my-2">Game Development</a>
        <br>
        <hr>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="d-flex container justify-content-around">
    <div class="row">
      {% for project in projects %}
      <div class="col">
        <div class="card mx-auto my-4" style="width: 20rem;">
          <div>
            <img class="card-img-top" src="{{project["Image Link"]}}" alt="Picture of {{project["Title"]}}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{project["Title"]}}</h5>
            <p class="card-text">
              {{project["Description"]}}
            </p>
            <a class="btn btn-primary" href="{{project["Project Link"]}}" >Check it out</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}